body{
    background-image: url("hatter55.jpg");
    background-size: cover;
    padding: 1%;

}

h1{
    color:white;
    text-decoration: underline;
    font-family: Bradley Hand;
}

p{
    color: white;
    font-size: larger;
    font-family: Bradley Hand;
}

#einkep{
    width: 500px;
}