body{
    background-image: url(hatter55.jpg);
    background-size:cover ;
    padding: 1%;
    
}
h1{
    color:white;
    text-decoration: underline;
    font-family: Bradley Hand;

}
ul,li{
    font-size: 17px;
}
h3{
    font-size: 17px;
    margin-left: 1px;
    text-decoration:underline ;
}
p{
    text-align: justify;
}